h1,h2,h3,h4,h5{
	margin: 0;
}
html{scroll-behavior: smooth}
@font-face{
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-BlackItalic.ttf");
}

@font-face{
	font-family: "MontserratAlternates";
	src: url("../fonts/MontserratAlternates-Light.ttf");
}

@font-face{
	font-family: "Montserrat-Bold";
	src: url("../fonts/MontserratAlternates-Bold.ttf");
}
@font-face{
	font-family: "Dejavusans";
	src: url("../fonts/dejavusans.ttf");
}

@font-face{
	font-family: "786";
	src: url("../fonts/786-font.ttf");
}



.header{
	width: 100%;

	position: absolute;
	top:0;
	left: 0;
	right: 0;
}

.main{
	width: 100%;

	position: absolute;
	top:10%;
	left: 0;
	right: 0;
}

.main_block{
	display: flex;
	width: 100%;
	height: 10vh;
	background: #fadffb;
	justify-content: space-between;
	align-items: center;
}

.main_block h1{
	font: 40px Montserrat;
	color: #5b5a5a;
	padding-left: 10%;
}

.main_block h2{
	font: 40px "Montserrat", cursive;
	color: #5b5a5a;
	padding-right: 10%;
}

.nav_main{
	width: 100%;
	height: 100vh;
	background: url("../assets/images/bg.png") center no-repeat;
	background-size: cover;
}

.nav{
	position: absolute;
	padding-left: 50%;
	padding-top: 2%;
	width: 50%;
	height: 70vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}


.nav :nth-child(1), .nav :nth-child(2), .nav :nth-child(7), .nav :nth-child(8){
	padding-right: 40%;
}

.nav .maintxt{
	text-decoration: none;
	font: 25px "MontserratAlternates";
	color:#000000;
	margin-top: 1%;
	padding-bottom: 2%;
}

.lastwork{
	width: 100%;
	height: 100vh;
	background: url("../assets/images/bg2.png") top no-repeat;
	background-size: cover;
	background-size: 100% 100%;
}

.lastwork h3{
	font: 50px "Montserrat", cursive;
	color:#474646;
	padding-top: 4%;
	padding-left: 6.5%;
	padding-bottom: 8%;
}

.lastwork_img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.lastwork img{
	margin-top: 5%;
	width: 380px;
	height: 470px;
}

.category{
	display: flex;
	width: 100%;
	height: 60vh;
	align-items: center;
	justify-content: space-around;
}

.catblockx img{
	width: 100%;
	height: 30vh;
  border-radius: 30%;
}

.catblockx{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.catblockx .button{
	margin-top: 10%;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	text-decoration: none;
	font: 50px "MontserratAlternates";
	color:white;
	margin-top: 10px;
	display: inline-block;
	background-color: #d1d0cc;
	border-radius: 5px;
	border: none;
	user-select: none;
	width: 100%;
}

.button:last-child{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	text-decoration: none;
	font: 40px "MontserratAlternates";
	color:white;
	margin-top: 10px;
	display: inline-block;
	background-color: #d1d0cc;
	border-radius: 5px;
	border: none;
	user-select: none;
	width: 100%;
}




.button:hover{
	background-color: #c8c7c4;

}

.prise{
	display: flex;
	height: 120vh;
	width: 100%;
	background: url("../assets/images/bg3_1.png") top no-repeat;
	background-size: 100% 100%;
}
.left1{
	display: flex;
}

.right1{
	display: flex;
}
.priseleft{
	padding-top: 5px;
	display: flex;
	flex-flow: column;
	align-items: end;
}

.priseright{
	padding-top: 20px;
	display: flex;
	flex-flow: column wrap;
}

.priseleft p{
	font: 17px "MontserratAlternates";
}


.priseleft p:nth-child(2){
	position: relative;
	margin-top: 65px;
	font: 17px "MontserratAlternates";
}


.priseleft p:nth-child(4){
	position: relative;
	margin-top: 6px;
	font: 17px "MontserratAlternates";
}

.priseleft p:last-child{
	position: relative;
	margin-top: 5px;
	font: 17px "MontserratAlternates";
}

.priseright p{
	font: 17px "MontserratAlternates";
}

.left_Book{
	width: 26%;
	display: flex;
	flex-flow: column wrap;
	margin-top: 13%;
	margin-left: 17%;
}

.prise h3{
	font: 60px "MontserratAlternates-Bold";
	text-decoration: underline;
	color:#125b8e;
	padding-left: 33%;
}

.left_Book h3{
	padding-left: 35%;
}

.right_Book h3{
	padding-left: 25%;
}

.right_Book{
	width: 26%;
	display: flex;
	flex-flow: column wrap;
	margin-top: 13%;
	margin-left: 10%;
}

.left p{
	font: 22px "MontserratAlternates";
}
.right p{
	font: 22px "MontserratAlternates";
	width: 70%;
}

.left p:last-child{
	font: 22px "Montserrat";
	color: #ff0101;
	padding-left: 9%;
	padding-top: 23%;
	width: 200%;
}


.headprise{
	display: flex;
	justify-content: space-between;
}

.headprise p{
	font: 18px "Montserrat", cursive;
}



#map{
	height: 55vh;
	width: 40%;
	background-color: grey;
}

.contacts{
	display: flex;
	height: 60vh;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	background-size: 100% 100%;
}



.colum {
  display: flex;
  flex-flow: column wrap;
  	justify-content: center;
  	align-items: center;
  	height: 60vh;
	width: 25%;
}

.colum p{
	margin-top: 10%;
	margin-left: 10%;
}

.colum h3{
	position: absolute;
	font: 60px "Montserrat", cursive;
	color: #3d576f;
	margin-bottom: 20%;
}


.con p{
	font: 20px "Dejavusans";
}


.con{
	display: flex;
	justify-content: center;
	height: 13vh;
	width: 100%;
	margin-top: 10%;
}


.MyCab{
	display: flex;
	flex-wrap: wrap;
	height: 80vh;
	width: 100%;

	background: url("../assets/images/bg4.png") top no-repeat;
	background-size: 100% 100%;
}



.newstring{
	width: 100%;
}

.newstring1{
	width: 100%;
	height: 5vh;
}

.imagin{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}

.first{
	display: flex;
	justify-content: center;
	width: 100%;
}
.imagin img{
	width: 580px;
	height: 280px;
	border: 10px solid gray;
}


.MyCab h3{
	font: 63px "MontserratAlternates";
	padding-top: 4%;
	padding-left: 18%;
	padding-bottom: 1%;
}

.swiper {
  width: 100%;
  height: 500px;
}

.mobile-background{
	visibility: hidden;
}
.swiper-slide img:hover{
	border: 3px solid black;
	width: 400px;
	height: 490px;
}

.french{
	position: absolute;
	
}

.popup{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top:0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.45s ease 0s;
    overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.popup_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.popup_content{
  background-color:white;
  width: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
  border-radius: 20px;
  position: relative;
}

.close{
  position: fixed;
  right: 16%;
  top: 10%;
  color: black;
  text-decoration: none;
  font-size: 20px;
  background: none;
  border: none;
}

.close:hover{
	cursor: pointer;
  position: fixed;
  right: 16%;
  top: 10%;
  color: black;
  text-decoration: none;
  font-size: 30px;
  background: none;
  border: none;
}

.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup_title{
	font: 50px "786";
	margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
}

.popup_con{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
}

.popup_con img{
  margin-top: 15px;
  margin-bottom: 15px;
}


.blocks{
  width: 250px;
  height: 340px;
}

@media only screen and (max-width: 1680px){
	.buttoncat .button:last-child{
		font-size: 30px;
			padding-left: 20px;
			padding-right: 33px;
			margin-right: 20px;
		}
		.buttoncat .button:nth-child(3){
			font-size: 40px;
		}
		.buttoncat .button:first-child{
			font-size: 40px;
		}
		.colum h3{
			margin-top: -100px;
		}
		.priseleft p:first-child{
			margin-bottom: 65px;
		}
		.priseleft p:last-child{
			padding-top: 30px;
		}
}

@media only screen and (max-width: 1280px){
		.main_block{
			display: flex;
			justify-content: space-between;
		}
		.swiper-slide img{
			height: 400px;
			width: 300px;
		}

	.swiper-slide img:hover{
	border: 3px solid black;
	width: 320px;
	height: 420px;
}
.swiper {
  width: 100%;
  height: 450px;
}
.lastwork{
	width: 100%;
	height: 80vh;
}

.catblockx img{
width: 100%;
height: 25vh;
}

.catblockx{
	width: 23%;
}
.button:last-child{
	font-size: 35px;
}

body{
	overflow-x: hidden;
}


.prise{
	height: 90vh;
}

.left p{
	font: 17px "MontserratAlternates";
}
.priseleft p{
	font: 17px "MontserratAlternates";
}
.left_Book{
	width: 25%;
}
		.priseleft p:first-child{
			margin-bottom: 9px;
		}
		.priseleft p:last-child{
			padding-top: 1px;
		}
		.priseleft p:nth-child(4){
			margin-top: 0px;
		}
		.priseleft p:nth-child(5){
			margin-top: 0px;
		}
		.priseleft p:nth-child(6){
			margin-top: 0px;
		}
		.priseleft p:nth-child(7){
			margin-top: 20px;
		}
		.left p:last-child{
	font: 17px "Montserrat";
}

.right_Book h3{
	padding-left: 20%;
}
.con img{
	width: 100px;
	height: 100px;
}
.contacts h3{
	margin-left:7%;
	margin-top: -10%;
}
.nav{
	padding-left:55%;}
.MyCab h3{
	margin-top: 3%;
}
}

@media only screen and (max-width: 1366px){
	.nav img{
		width: 100px;
		height: 100px;
	}

	.swiper-slide img{
			height: 400px;
			width: 300px;
		}
	.swiper-slide img:hover{
	border: 3px solid black;
	width: 320px;
	height: 420px;
}
.lastwork h3{
	padding-bottom: 5%;}
.swiper {
  width: 100%;
  height: 445px;
}
.category{
	height: 60vh;
}

.buttoncat .button{
	padding: 30px 43px 30px 45px;
}

.buttoncat .button:nth-child(2){
	padding: 43px 50px 30px 48px;
	margin-left: 20px;
	margin-right: 10px;
}
.buttoncat .button:last-child{
	font: 27px "MontserratAlternates";
	padding: 43px 60px 30px 40px;
}


.left p{
	font: 15px "MontserratAlternates";
}
.priseleft p{
	font: 15px "MontserratAlternates";
}
.left_Book{
	width: 25%;
}
		.priseleft p:first-child{
			margin-bottom: 3px;
		}
		.priseleft p:last-child{
			padding-top: 1px;
		}
		.priseleft p:nth-child(4){
			margin-top: 0px;
		}
		.priseleft p:nth-child(5){
			margin-top: 0px;
		}
		.priseleft p:nth-child(6){
			margin-top: 0px;
		}
		.priseleft p:nth-child(7){
			margin-top: 20px;
		}
		.left p:last-child{
	font: 17px "Montserrat";
}
.contacts h3{
	margin-left:7%;
	margin-top: -5%;
}
.imagin img{
	width: 410px;
	height: 210px;
	border: 10px solid gray;
}


@media only screen and (max-width: 1280px) and (max-height: 800px){
	.prise{
		height: 110vh;
		width: 100%;
	}

		.left p:last-child{
	font: 17px "Montserrat";
	width: 250%;
}

.left_Book{
	width: 28%;
}
.right_Book{
		margin-left: 7%;
}
		.swiper-slide img{
			height: 300px;
			width: 200px;
		}

	.swiper-slide img:hover{
	border: 3px solid black;
	width: 220px;
	height: 320px;
}
.swiper {
  width: 100%;
  height: 350px;
}

body{overflow-x:hidden;}
}


@media only screen and (max-width: 1024px){

.main_block h2{
	font-size: 30px;
}
.main_block h1{
	font-size: 30px;
}
.category{
	width: 100%;
	height: 100vh;
	display: block;
}

.catblockx{
	display: flex;
	width: 30%;
}


.category{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.popup_con img{
  margin-top: 30px;
  width: 26%;
  height: 30vh;
}

.popup_con{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
}

.left_Book h3{
	padding-left: 25%;
}
.right_Book h3{
	padding-left: 8%;
}
.priseleft p:nth-child(5){
	margin-top: -5px;
}

.left p:last-child{
	font-size: 15px;
}
.contacts h3{
	font-size: 40px;
	margin-left:7%;
	margin-top: -10%;
}

.con p{
	font-size: 14px;
}

.con img{
	width: 75px;
	height: 75px;
}

.MyCab img{
	width: 400px;
	height: 200px;
}
}

@media only screen and (max-width: 640px) and (max-height:960px){
.main_block{height: 5vh;}
.main_block h1{font-size: 20px}
.main_block h2{font-size: 20px}
.main{
	top:5%;
}
.mobile-background{
	width: 100%;
	height: 100vh;
	visibility: visible;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
}
.nav_main{
background: url("../assets/images/bg.png") 30% center no-repeat;
	}
.nav{
	position: absolute;
	padding-left: 25%;
	padding-top: 2%;
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav :nth-child(2), .nav :nth-child(4), .nav :nth-child(3), .nav :nth-child(5), .nav :nth-child(6){
	margin-right: 60%;
	padding-right: 0px;
	color: white;
}
.nav :nth-child(1), .nav :nth-child(2), .nav :nth-child(7), .nav :nth-child(8){
	margin-right: 10%;
	padding-right: 0px;
	color: white;
}



.prise{
	height: 80vh;
	background-size: 155%;
}
.left_Book h3{
	font-size: 40px;
}
.left_Book{
	padding-left: 0%;
	margin-left: 0%;
	width: 50%;
	margin-top: 17%;
}

.headprise p{
	font-size: 15px;
}

.left{
	padding-left: 0%;
}

.left p:last-child{
	color: #ff0101;
	padding-left: 3%;
	padding-top: 8%;
	width: 200%;
}

.right_Book h3{
	font-size: 40px;
}

.right_Book{
	margin-top: 17%;
	padding-left: 0%;
	margin-left: 2%;
}

.right p{
	font-size: 17px;
}

.priseright{
	margin-top: -7%;
	margin-left: 5%;
}

.contacts{
	display: flex;
	flex-wrap: wrap;
	align-items: start;
}
.colum{
	width: 50%;
	height: auto;
	margin-top: -10%;
}

.colum h3{
	margin-top: -33%;
}
#map{
	width: 100%;
}

.con p{
	font-size: 20px;
}

.MyCab{
	margin-top: 35%;
}

.MyCab h3{
	margin-top: 6%;
}

.first img:nth-child(1), .first img:nth-child(2){
	width: 50%;
}



.category{
	height: auto;
}

.popup{
	width: 80%;
	height: 100vh;
}

body{
	overflow-x: none;
}

}
